body{
    background: lightskyblue;
    color: darkblue;
    text-align: center;

}
h1{
    text-shadow: 10px 0 10px 0;
}
button {
    padding: 5px 50px;
    margin: 10px 20px;
    background: cyan;
    color: rgb(4, 4, 4);
    font-weight: bold;
    border: none;
    box-shadow: 2px 0 2px 0;
}
p {
    font-size: 20px
}
@media (max-width: 1024px)
 {
   h1{
      font-size: 2rem;
   }

}